// selected-event.component.scss                              ~/src/app/events/components
/////////////////////////////////////////////////////////////////////////////////////////

@import "src/styles/config";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem-calc(0 20);
  @media #{$large-up} {
    padding: 0;
  }
}

// Header Layout
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

// Card Layout
.header {
  max-width: rem-calc(800);
}
