<div class="header" *ngIf="event">
  <h1>{{ event.name }}</h1>
  <button mat-raised-button color="primary" (click)="updateStatus(event.id)">{{ status ? 'GOING' : 'NOT GOING' }}</button>
</div>

<mat-tab-group *ngIf="event">
  <mat-tab label="Details">
    <app-selected-event-detail [event]="event" [imageUrl]="imageData"></app-selected-event-detail>
  </mat-tab>

  <mat-tab label="Comments">
    <app-selected-event-comments [comments]="event.comments"></app-selected-event-comments>
  </mat-tab>
</mat-tab-group>