<div class="container" *ngIf="event">
  <h4>Date: {{ event.date | date:'medium' }}</h4>
  <img mat-card-image [src]="imageUrl | safeUrl" alt="">
  <h4>Description</h4>
  <p>{{ event.description }}</p>
  <h4>Location</h4>
  <p>{{ event.location.name }}</p>
  <address>
    {{ event.location.address }}
    {{ event.location.city }}, {{ event.location.state }}
  </address>
</div>