// _global.scss                                     ~/styles/
// Styles here will be included throughout the project. Limit
// use as much as possible. Using too much here can cause
// unintended effects.
/////////////////////////////////////////////////////////////

// Set global box sizing
* {
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}
