// event-card.component.scss                              ~/src/app/events/event-card
///////////////////////////////////////////////////////////////////////////////////////

@import "src/styles/config";

// Mat Card Layout
mat-card {
  height: rem-calc(280);
  width: rem-calc(350);
  margin: rem-calc(10);
}

// Comments Icon Layout
mat-card-footer {
  display: flex;
  align-items: center;
  padding-left: rem-calc(15);
  mat-icon {
    margin-right: rem-calc(10);
  }
}
