<mat-card *ngIf="event">
  <mat-card-title>{{ event.name }}</mat-card-title>
  <mat-card-subtitle *ngIf="event.location">{{ event.location.city }}, {{ event.location.state }} - {{ event.date |
    date }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{ event.description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-icon>comment</mat-icon> <span>{{ event.comments.length }}</span>
  </mat-card-footer>
</mat-card>