<ng-progress></ng-progress>
<div class="container" *ngIf="validEvents; else noEvents">
  <app-event-card *ngFor="let event of (events$ | async)" [event]="event" (click)="updateSelectedEvent(event)"></app-event-card>
</div>

<ng-template #noEvents>
  <div class="container">
    <mat-card>
      <mat-card-title>No Events to Display</mat-card-title>
    </mat-card>
  </div>
</ng-template>