// events-container.scss                              ~/src/app/events/events-container
///////////////////////////////////////////////////////////////////////////////////////

@import "src/styles/config";

.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: rem-calc(10 0);
}
