// config.scss      ~/styles/
// This file will be included in all components. Make sure this file
// does not generate css. It should only include imports to
// variables, functions, or mixins.
/////////////////////////////////////////////////////////////////////

// Imports //////////////////////////////////////////////////////////
// Media Queries
$small-range: (0, 37.5em); // 0, 640px
$medium-range: (37.5625em, 64em); // 641px, 1024px
$large-range: (64.063em, 90em); // 1025px, 1440px
$xlarge-range: (90.063em, 120em); // 1441px, 1920px
$xxlarge-range: (120.063em, 150em); // 1921px, 2400px
$xxxlarge-range: (150.063em); // 2400px+

// Media Queries
@import "./functions/mqs";

// Rem-calc Function
@import "./functions/rem-calc";

// Colors
@import "./config-colors";
