// app.component.scss                                     ~app
//////////////////////////////////////////////////////////////

@import "src/styles/config";

a {
  text-decoration: none;
  color: $white;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $wht-70;
  }
}
