// selected-event-comments.component.scss                     ~/src/app/events/components
/////////////////////////////////////////////////////////////////////////////////////////

@import "src/styles/config";

// Container Layout
.container {
  max-width: rem-calc(800);
}

// Author Layout
.author {
  display: flex;
  align-items: center;
}

// Author Name
.author h5 {
  margin-left: rem-calc(10);
}
